## Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.p In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

### Changing Number of Hidden Layers - 1

***

## Data Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

(1030, 9)
So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

In [6]:
concrete_data_columns = concrete_data.columns

target = concrete_data["Strength"]
predictors = concrete_data.drop(["Strength", "Age"], axis=1)

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

In [10]:
n_cols = predictors_norm.shape[1]  # number of predictors
n_cols

7

***

## Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

In [11]:
import warnings
warnings.filterwarnings("ignore")
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# Define regression model
def regression_model():
    # 1-Create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # 2-Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [16]:
model = regression_model()

In [17]:
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/100
23/23 [==============================] - 0s 2ms/step - loss: 24729.6836
Epoch 2/100
23/23 [==============================] - 0s 2ms/step - loss: 7458.7744
Epoch 3/100
23/23 [==============================] - 0s 2ms/step - loss: 4838.7363
Epoch 4/100
23/23 [==============================] - 0s 817us/step - loss: 3816.5142
Epoch 5/100
23/23 [==============================] - 0s 923us/step - loss: 3126.7258
Epoch 6/100
23/23 [==============================] - 0s 970us/step - loss: 2653.5710
Epoch 7/100
23/23 [==============================] - 0s 954us/step - loss: 2261.7776
Epoch 8/100
23/23 [==============================] - 0s 928us/step - loss: 1919.7834
Epoch 9/100
23/23 [==============================] - 0s 931us/step - loss: 1639.4254
Epoch 10/100
23/23 [==============================] - 0s 1ms/step - loss: 1402.8625
Epoch 11/100
23/23 [==============================] - 0s 949us/step - loss: 1215.5603
Epoch 12/100
23/23 [==============================] - ETA: 0s - loss: 832.180 - 0s 919us/step - loss: 1045.5919
Epoch 13/100
23/23 [==============================] - 0s 953us/step - loss: 915.9987
Epoch 14/100
23/23 [==============================] - 0s 957us/step - loss: 804.2131
Epoch 15/100
23/23 [==============================] - 0s 947us/step - loss: 715.0408
Epoch 16/100
23/23 [==============================] - 0s 939us/step - loss: 636.3646
Epoch 17/100
23/23 [==============================] - 0s 998us/step - loss: 570.7748
Epoch 18/100
23/23 [==============================] - 0s 1ms/step - loss: 520.0850
Epoch 19/100
23/23 [==============================] - 0s 1ms/step - loss: 477.4858
Epoch 20/100
23/23 [==============================] - 0s 972us/step - loss: 449.3340
Epoch 21/100
23/23 [==============================] - ETA: 0s - loss: 199.380 - 0s 969us/step - loss: 416.0887
Epoch 22/100
23/23 [==============================] - 0s 1ms/step - loss: 395.1946
Epoch 23/100
23/23 [==============================] - 0s 983us/step - loss: 381.9065
Epoch 24/100
23/23 [==============================] - 0s 936us/step - loss: 364.3742
Epoch 25/100
23/23 [==============================] - 0s 981us/step - loss: 352.5620
Epoch 26/100
23/23 [==============================] - 0s 1ms/step - loss: 345.2588
Epoch 27/100
23/23 [==============================] - 0s 1ms/step - loss: 331.9505
Epoch 28/100
23/23 [==============================] - 0s 2ms/step - loss: 322.3667
Epoch 29/100
23/23 [==============================] - 0s 2ms/step - loss: 313.9082
Epoch 30/100
23/23 [==============================] - 0s 2ms/step - loss: 309.9516
Epoch 31/100
23/23 [==============================] - 0s 2ms/step - loss: 301.7400
Epoch 32/100
23/23 [==============================] - 0s 947us/step - loss: 297.7905
Epoch 33/100
23/23 [==============================] - 0s 1ms/step - loss: 290.8501
Epoch 34/100
23/23 [==============================] - 0s 887us/step - loss: 284.8190
Epoch 35/100
23/23 [==============================] - 0s 933us/step - loss: 285.2808
Epoch 36/100
23/23 [==============================] - 0s 962us/step - loss: 275.8368
Epoch 37/100
23/23 [==============================] - 0s 997us/step - loss: 275.7720
Epoch 38/100
23/23 [==============================] - 0s 975us/step - loss: 265.0647
Epoch 39/100
23/23 [==============================] - 0s 1ms/step - loss: 260.5763
Epoch 40/100
23/23 [==============================] - 0s 2ms/step - loss: 258.3679
Epoch 41/100
23/23 [==============================] - 0s 2ms/step - loss: 255.2159
Epoch 42/100
23/23 [==============================] - 0s 2ms/step - loss: 249.3993
Epoch 43/100
23/23 [==============================] - 0s 2ms/step - loss: 245.9743
Epoch 44/100
23/23 [==============================] - 0s 1ms/step - loss: 240.6232
Epoch 45/100
23/23 [==============================] - 0s 1ms/step - loss: 234.7372
Epoch 46/100
23/23 [==============================] - 0s 1000us/step - loss: 233.2937
Epoch 47/100
23/23 [==============================] - 0s 1ms/step - loss: 227.0596
Epoch 48/100
23/23 [==============================] - 0s 941us/step - loss: 226.6740
Epoch 49/100
23/23 [==============================] - 0s 818us/step - loss: 221.5666
Epoch 50/100
23/23 [==============================] - 0s 1ms/step - loss: 218.8404
Epoch 51/100
23/23 [==============================] - 0s 2ms/step - loss: 213.0002
Epoch 52/100
23/23 [==============================] - 0s 2ms/step - loss: 213.1610
Epoch 53/100
23/23 [==============================] - 0s 2ms/step - loss: 207.1263
Epoch 54/100
23/23 [==============================] - 0s 2ms/step - loss: 208.1505
Epoch 55/100
23/23 [==============================] - ETA: 0s - loss: 220.755 - 0s 952us/step - loss: 207.8008
Epoch 56/100
23/23 [==============================] - 0s 952us/step - loss: 200.3763
Epoch 57/100
23/23 [==============================] - 0s 822us/step - loss: 199.3191
Epoch 58/100
23/23 [==============================] - 0s 1ms/step - loss: 200.2623
Epoch 59/100
23/23 [==============================] - 0s 805us/step - loss: 196.6804
Epoch 60/100
23/23 [==============================] - 0s 971us/step - loss: 197.1393
Epoch 61/100
23/23 [==============================] - 0s 1ms/step - loss: 195.0539
Epoch 62/100
23/23 [==============================] - 0s 923us/step - loss: 197.1644
Epoch 63/100
23/23 [==============================] - 0s 2ms/step - loss: 190.5036
Epoch 64/100
23/23 [==============================] - ETA: 0s - loss: 201.123 - 0s 2ms/step - loss: 189.4433
Epoch 65/100
23/23 [==============================] - 0s 2ms/step - loss: 189.1036
Epoch 66/100
23/23 [==============================] - 0s 2ms/step - loss: 184.4664
Epoch 67/100
23/23 [==============================] - 0s 958us/step - loss: 184.1421
Epoch 68/100
23/23 [==============================] - 0s 846us/step - loss: 182.9531
Epoch 69/100
23/23 [==============================] - ETA: 0s - loss: 148.961 - 0s 796us/step - loss: 180.7571
Epoch 70/100
23/23 [==============================] - 0s 852us/step - loss: 182.6434
Epoch 71/100
23/23 [==============================] - 0s 941us/step - loss: 179.7583
Epoch 72/100
23/23 [==============================] - 0s 908us/step - loss: 180.4562
Epoch 73/100
23/23 [==============================] - 0s 977us/step - loss: 181.0478
Epoch 74/100
23/23 [==============================] - 0s 1ms/step - loss: 176.1372
Epoch 75/100
23/23 [==============================] - 0s 2ms/step - loss: 181.7093
Epoch 76/100
23/23 [==============================] - 0s 2ms/step - loss: 179.7774
Epoch 77/100
23/23 [==============================] - 0s 2ms/step - loss: 174.0223
Epoch 78/100
23/23 [==============================] - 0s 2ms/step - loss: 173.0500
Epoch 79/100
23/23 [==============================] - 0s 902us/step - loss: 173.8666
Epoch 80/100
23/23 [==============================] - 0s 952us/step - loss: 174.4363
Epoch 81/100
23/23 [==============================] - 0s 936us/step - loss: 171.9933
Epoch 82/100
23/23 [==============================] - 0s 920us/step - loss: 171.8631
Epoch 83/100
23/23 [==============================] - 0s 845us/step - loss: 171.6850
Epoch 84/100
23/23 [==============================] - 0s 841us/step - loss: 177.2397
Epoch 85/100
23/23 [==============================] - 0s 958us/step - loss: 171.0782
Epoch 86/100
23/23 [==============================] - 0s 1ms/step - loss: 166.7905
Epoch 87/100
23/23 [==============================] - 0s 864us/step - loss: 168.9389
Epoch 88/100
23/23 [==============================] - 0s 977us/step - loss: 168.7800
Epoch 89/100
23/23 [==============================] - 0s 957us/step - loss: 169.5631
Epoch 90/100
23/23 [==============================] - 0s 952us/step - loss: 176.2217
Epoch 91/100
23/23 [==============================] - 0s 1ms/step - loss: 167.8331
Epoch 92/100
23/23 [==============================] - 0s 2ms/step - loss: 168.8558
Epoch 93/100
23/23 [==============================] - 0s 2ms/step - loss: 166.0437
Epoch 94/100
23/23 [==============================] - 0s 2ms/step - loss: 166.9552
Epoch 95/100
23/23 [==============================] - ETA: 0s - loss: 137.526 - 0s 2ms/step - loss: 164.2334
Epoch 96/100

23/23 [==============================] - 0s 2ms/step - loss: 169.9814
Epoch 97/100
23/23 [==============================] - 0s 2ms/step - loss: 163.3132
Epoch 98/100
23/23 [==============================] - 0s 1ms/step - loss: 166.8344
Epoch 99/100
23/23 [==============================] - 0s 798us/step - loss: 163.6809
Epoch 100/100
23/23 [==============================] - 0s 810us/step - loss: 163.7814

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 886us/step - loss: 171.0525

171.05252075195312

***

### Mean Squared Error

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(f"Mean: {mean}\nStandard Deviation: {standard_deviation}")

Mean: 171.05250175678216
Standard Deviation: 0.0

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error " + str(i + 1) +": "+ str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("\n" + str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " + str(epochs) + "\n")
print("Mean: "+ str(mean))
print("Standard Deviation: "+ str(standard_deviation))

Mean Squared Error 1: 141.35183715820312
Mean Squared Error 2: 160.56797790527344
Mean Squared Error 3: 161.73928833007812
Mean Squared Error 4: 187.150390625
Mean Squared Error 5: 179.1959686279297
Mean Squared Error 6: 193.71246337890625
Mean Squared Error 7: 176.01434326171875
Mean Squared Error 8: 154.51031494140625
Mean Squared Error 9: 163.10130310058594
Mean Squared Error 10: 166.17807006835938
Mean Squared Error 11: 161.30532836914062
Mean Squared Error 12: 144.8494110107422
Mean Squared Error 13: 146.93914794921875
Mean Squared Error 14: 165.2831268310547
Mean Squared Error 15: 148.51202392578125
Mean Squared Error 16: 137.09300231933594
Mean Squared Error 17: 150.0919189453125
Mean Squared Error 18: 129.07554626464844
Mean Squared Error 19: 139.4480743408203
Mean Squared Error 20: 164.4240264892578
Mean Squared Error 21: 137.41229248046875
Mean Squared Error 22: 153.1256103515625
Mean Squared Error 23: 170.66787719726562
Mean Squared Error 24: 146.36798095703125
Mean Squared Error 25: 150.6710968017578
Mean Squared Error 26: 150.04055786132812
Mean Squared Error 27: 165.7964630126953
Mean Squared Error 28: 148.14292907714844
Mean Squared Error 29: 151.71315002441406
Mean Squared Error 30: 150.89410400390625
Mean Squared Error 31: 153.9143524169922
Mean Squared Error 32: 149.43650817871094
Mean Squared Error 33: 148.56129455566406
Mean Squared Error 34: 147.20938110351562
Mean Squared Error 35: 144.6951446533203
Mean Squared Error 36: 163.62489318847656
Mean Squared Error 37: 161.97140502929688
Mean Squared Error 38: 162.39419555664062
Mean Squared Error 39: 142.8210906982422
Mean Squared Error 40: 144.45269775390625
Mean Squared Error 41: 144.3595428466797
Mean Squared Error 42: 146.98654174804688
Mean Squared Error 43: 159.7277069091797
Mean Squared Error 44: 160.95681762695312
Mean Squared Error 45: 145.3084259033203
Mean Squared Error 46: 150.69859313964844
Mean Squared Error 47: 156.14340209960938
Mean Squared Error 48: 159.09791564941406
Mean Squared Error 49: 143.6106719970703
Mean Squared Error 50: 159.88372802734375

50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 154.82459815202736
Standard Deviation: 12.473105647874172