## Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.p In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

### Increasing the Number of Training Epochs - 1

***

## Data Preprocessing

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

(1030, 9)
So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

In [6]:
concrete_data_columns = concrete_data.columns

target = concrete_data["Strength"]
predictors = concrete_data.drop(["Strength", "Age"], axis=1)

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1]  # number of predictors
n_cols

7

***

## Keras

Recall from the videos that Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. In CC Labs, we used TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

In [10]:
import warnings
warnings.filterwarnings("ignore")
import keras

In [11]:
from keras.models import Sequential
from keras.layers import Dense

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [12]:
# define regression model
def regression_model():
    # 1-Create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # 2-Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [15]:
model = regression_model()

In [16]:
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 0s 1ms/step - loss: 35796.7812
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 3825.9722
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 2109.3633
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 1819.7627
Epoch 5/50
23/23 [==============================] - 0s 1ms/step - loss: 1658.7909
Epoch 6/50
23/23 [==============================] - 0s 1ms/step - loss: 1515.5475
Epoch 7/50
23/23 [==============================] - ETA: 0s - loss: 1303.57 - 0s 1ms/step - loss: 1379.6964
Epoch 8/50
23/23 [==============================] - 0s 1ms/step - loss: 1264.0312
Epoch 9/50
23/23 [==============================] - 0s 1ms/step - loss: 1162.1804
Epoch 10/50
23/23 [==============================] - 0s 1ms/step - loss: 1071.5012
Epoch 11/50
23/23 [==============================] - 0s 1ms/step - loss: 987.5058
Epoch 12/50
23/23 [==============================] - 0s 1ms/step - loss: 907.6336
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 813.8347
Epoch 14/50
23/23 [==============================] - 0s 2ms/step - loss: 728.0906
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 635.8926
Epoch 16/50
23/23 [==============================] - 0s 1ms/step - loss: 579.5074
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 532.7880
Epoch 18/50
23/23 [==============================] - 0s 1ms/step - loss: 496.0557
Epoch 19/50
23/23 [==============================] - 0s 960us/step - loss: 465.8969
Epoch 20/50
23/23 [==============================] - 0s 962us/step - loss: 441.7873
Epoch 21/50
23/23 [==============================] - 0s 953us/step - loss: 414.8701
Epoch 22/50
23/23 [==============================] - 0s 929us/step - loss: 398.8681
Epoch 23/50
23/23 [==============================] - 0s 952us/step - loss: 382.5040
Epoch 24/50
23/23 [==============================] - 0s 940us/step - loss: 368.1815
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 350.4179
Epoch 26/50
23/23 [==============================] - 0s 1ms/step - loss: 338.5504
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 322.7304
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 327.0570
Epoch 29/50
23/23 [==============================] - 0s 1ms/step - loss: 307.3513
Epoch 30/50
23/23 [==============================] - 0s 1ms/step - loss: 302.5734
Epoch 31/50
23/23 [==============================] - 0s 1ms/step - loss: 292.5258
Epoch 32/50
23/23 [==============================] - 0s 1ms/step - loss: 281.7758
Epoch 33/50
23/23 [==============================] - 0s 1ms/step - loss: 275.6591
Epoch 34/50
23/23 [==============================] - 0s 1ms/step - loss: 271.2894
Epoch 35/50
23/23 [==============================] - 0s 1ms/step - loss: 265.9298
Epoch 36/50
23/23 [==============================] - 0s 954us/step - loss: 258.3587
Epoch 37/50
23/23 [==============================] - 0s 952us/step - loss: 259.9688
Epoch 38/50
23/23 [==============================] - 0s 874us/step - loss: 248.7550
Epoch 39/50
23/23 [==============================] - 0s 972us/step - loss: 242.2551
Epoch 40/50
23/23 [==============================] - 0s 980us/step - loss: 238.2659
Epoch 41/50
23/23 [==============================] - 0s 957us/step - loss: 235.4049
Epoch 42/50
23/23 [==============================] - 0s 944us/step - loss: 231.1887
Epoch 43/50
23/23 [==============================] - 0s 948us/step - loss: 229.9793
Epoch 44/50
23/23 [==============================] - 0s 933us/step - loss: 223.1868
Epoch 45/50
23/23 [==============================] - 0s 938us/step - loss: 221.0901
Epoch 46/50
23/23 [==============================] - 0s 916us/step - loss: 217.7857
Epoch 47/50
23/23 [==============================] - 0s 978us/step - loss: 215.3402
Epoch 48/50
23/23 [==============================] - 0s 953us/step - loss: 212.5108
Epoch 49/50
23/23 [==============================] - 0s 1ms/step - loss: 216.7806
Epoch 50/50
23/23 [==============================] - 0s 977us/step - loss: 208.1445

In [17]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 209.9489

209.94891357421875

***

### Mean Squared Error

In [18]:
from sklearn.metrics import mean_squared_error

In [19]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(f"Mean: {mean}\nStandard Deviation: {standard_deviation}")

Mean: 209.94884723139054
Standard Deviation: 0.0

In [20]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("Mean Squared Error " + str(i + 1) +": "+ str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print("\n" + str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " + str(epochs) + "\n")
print("Mean: "+ str(mean))
print("Standard Deviation: "+ str(standard_deviation))

Mean Squared Error 1: 145.70469665527344
Mean Squared Error 2: 162.13851928710938
Mean Squared Error 3: 161.61927795410156
Mean Squared Error 4: 182.33250427246094
Mean Squared Error 5: 187.95611572265625
Mean Squared Error 6: 144.21839904785156
Mean Squared Error 7: 177.0404815673828
Mean Squared Error 8: 147.49649047851562
Mean Squared Error 9: 165.19564819335938
Mean Squared Error 10: 168.08824157714844
Mean Squared Error 11: 149.23150634765625
Mean Squared Error 12: 144.75350952148438
Mean Squared Error 13: 152.49227905273438
Mean Squared Error 14: 162.74130249023438
Mean Squared Error 15: 143.84278869628906
Mean Squared Error 16: 130.99237060546875
Mean Squared Error 17: 144.0279083251953
Mean Squared Error 18: 124.18257904052734
Mean Squared Error 19: 136.48153686523438
Mean Squared Error 20: 159.81234741210938
Mean Squared Error 21: 132.2904510498047
Mean Squared Error 22: 155.61734008789062
Mean Squared Error 23: 145.3447723388672
Mean Squared Error 24: 139.26971435546875
Mean Squared Error 25: 130.7212371826172
Mean Squared Error 26: 139.66490173339844
Mean Squared Error 27: 163.8251190185547
Mean Squared Error 28: 143.3976593017578
Mean Squared Error 29: 154.3397674560547
Mean Squared Error 30: 142.69549560546875
Mean Squared Error 31: 139.57794189453125
Mean Squared Error 32: 152.14419555664062
Mean Squared Error 33: 172.4378662109375
Mean Squared Error 34: 147.74037170410156
Mean Squared Error 35: 152.37344360351562
Mean Squared Error 36: 229.02671813964844
Mean Squared Error 37: 154.4447479248047
Mean Squared Error 38: 148.46136474609375
Mean Squared Error 39: 156.56289672851562
Mean Squared Error 40: 134.8045196533203
Mean Squared Error 41: 139.5569610595703
Mean Squared Error 42: 141.02200317382812
Mean Squared Error 43: 151.4124298095703
Mean Squared Error 44: 153.6381072998047
Mean Squared Error 45: 144.46609497070312
Mean Squared Error 46: 140.49325561523438
Mean Squared Error 47: 148.28955078125
Mean Squared Error 48: 185.11610412597656
Mean Squared Error 49: 149.9702911376953
Mean Squared Error 50: 147.84397888183594

50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 152.53794686104195
Standard Deviation: 17.534885032267805