### 1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.p In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

## Changing Number of Hidden Layers - 2

In [1]:
import pandas as pd
import numpy as np

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [6]:
concrete_data_columns = concrete_data.columns

target = concrete_data["Strength"]
predictors = concrete_data.drop(["Strength", "Age"], axis=1)

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

In [10]:
n_cols = predictors_norm.shape[1]  # number of predictors
n_cols

7

In [11]:
import warnings
warnings.filterwarnings("ignore")
import keras

In [12]:
from keras.models import Sequential
from keras.layers import Dense

In [13]:
# define regression model
def regression_model():
    # 1-Create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # 2-Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [16]:
model = regression_model()

In [17]:
epochs = 60
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/60
23/23 [==============================] - 0s 1ms/step - loss: 16760.7871
Epoch 2/60
23/23 [==============================] - 0s 1ms/step - loss: 1840.0450
Epoch 3/60
23/23 [==============================] - 0s 1ms/step - loss: 646.6580
Epoch 4/60
23/23 [==============================] - 0s 1ms/step - loss: 460.4413
Epoch 5/60
23/23 [==============================] - 0s 1ms/step - loss: 378.2883
Epoch 6/60
23/23 [==============================] - 0s 1ms/step - loss: 320.8226
Epoch 7/60
23/23 [==============================] - 0s 1ms/step - loss: 287.4715
Epoch 8/60
23/23 [==============================] - 0s 1ms/step - loss: 256.0380
Epoch 9/60
23/23 [==============================] - ETA: 0s - loss: 236.802 - 0s 1ms/step - loss: 230.7020
Epoch 10/60
23/23 [==============================] - 0s 1ms/step - loss: 216.7118
Epoch 11/60
23/23 [==============================] - 0s 1ms/step - loss: 207.8230
Epoch 12/60
23/23 [==============================] - 0s 1ms/step - loss: 195.1840
Epoch 13/60
23/23 [==============================] - 0s 1ms/step - loss: 194.6598
Epoch 14/60
23/23 [==============================] - ETA: 0s - loss: 155.732 - 0s 1ms/step - loss: 186.5639
Epoch 15/60
23/23 [==============================] - ETA: 0s - loss: 201.381 - 0s 1ms/step - loss: 180.7233
Epoch 16/60
23/23 [==============================] - ETA: 0s - loss: 139.265 - 0s 1ms/step - loss: 175.9133
Epoch 17/60
23/23 [==============================] - ETA: 0s - loss: 115.125 - 0s 1ms/step - loss: 172.4328
Epoch 18/60
23/23 [==============================] - 0s 1ms/step - loss: 171.2222
Epoch 19/60
23/23 [==============================] - 0s 1ms/step - loss: 170.1854
Epoch 20/60
23/23 [==============================] - 0s 1ms/step - loss: 166.9489
Epoch 21/60
23/23 [==============================] - 0s 1ms/step - loss: 168.1181
Epoch 22/60
23/23 [==============================] - 0s 1ms/step - loss: 164.8151
Epoch 23/60
23/23 [==============================] - 0s 1ms/step - loss: 166.3483
Epoch 24/60
23/23 [==============================] - 0s 2ms/step - loss: 162.5312
Epoch 25/60
23/23 [==============================] - 0s 2ms/step - loss: 162.0826
Epoch 26/60
23/23 [==============================] - 0s 1ms/step - loss: 167.9817
Epoch 27/60
23/23 [==============================] - 0s 1ms/step - loss: 161.3670
Epoch 28/60
23/23 [==============================] - 0s 1ms/step - loss: 160.2607
Epoch 29/60
23/23 [==============================] - 0s 1ms/step - loss: 161.0881
Epoch 30/60
23/23 [==============================] - 0s 1ms/step - loss: 159.8914
Epoch 31/60
23/23 [==============================] - 0s 1ms/step - loss: 159.8241
Epoch 32/60
23/23 [==============================] - 0s 1ms/step - loss: 161.2018
Epoch 33/60
23/23 [==============================] - 0s 1ms/step - loss: 158.2855
Epoch 34/60
23/23 [==============================] - 0s 1ms/step - loss: 161.6844
Epoch 35/60
23/23 [==============================] - 0s 1ms/step - loss: 155.5948
Epoch 36/60
23/23 [==============================] - 0s 1ms/step - loss: 157.0419
Epoch 37/60
23/23 [==============================] - 0s 1ms/step - loss: 155.8578
Epoch 38/60
23/23 [==============================] - 0s 1ms/step - loss: 159.8935
Epoch 39/60
23/23 [==============================] - 0s 2ms/step - loss: 160.4000
Epoch 40/60
23/23 [==============================] - 0s 2ms/step - loss: 154.2636
Epoch 41/60
23/23 [==============================] - 0s 2ms/step - loss: 153.9520
Epoch 42/60
23/23 [==============================] - 0s 2ms/step - loss: 158.1113
Epoch 43/60
23/23 [==============================] - 0s 2ms/step - loss: 155.4536
Epoch 44/60
23/23 [==============================] - 0s 1ms/step - loss: 156.1322
Epoch 45/60
23/23 [==============================] - 0s 1ms/step - loss: 163.4887
Epoch 46/60
23/23 [==============================] - 0s 1ms/step - loss: 155.1960
Epoch 47/60
23/23 [==============================] - 0s 1ms/step - loss: 154.4497
Epoch 48/60
23/23 [==============================] - 0s 1ms/step - loss: 153.1218
Epoch 49/60
23/23 [==============================] - 0s 1ms/step - loss: 152.4525
Epoch 50/60
23/23 [==============================] - 0s 1ms/step - loss: 153.8776
Epoch 51/60
23/23 [==============================] - ETA: 0s - loss: 170.508 - 0s 1ms/step - loss: 154.2565
Epoch 52/60
23/23 [==============================] - 0s 1ms/step - loss: 153.7429
Epoch 53/60
23/23 [==============================] - 0s 1ms/step - loss: 151.7446
Epoch 54/60
23/23 [==============================] - 0s 1ms/step - loss: 154.0042
Epoch 55/60
23/23 [==============================] - 0s 1ms/step - loss: 153.9444
Epoch 56/60
23/23 [==============================] - 0s 1ms/step - loss: 157.6584
Epoch 57/60
23/23 [==============================] - 0s 2ms/step - loss: 152.8021
Epoch 58/60
23/23 [==============================] - 0s 1ms/step - loss: 155.3553
Epoch 59/60
23/23 [==============================] - 0s 1ms/step - loss: 153.0239
Epoch 60/60
23/23 [==============================] - 0s 2ms/step - loss: 162.7924

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 180.2534

180.25335693359375

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(f"Mean: {mean}\nStandard Deviation: {standard_deviation}")

Mean: 180.25334642397618
Standard Deviation: 0.0