### 1. Assignment Topic:

In this project, you will build a regression model using the Keras library to model the same data about concrete compressive strength that we used in labs 3.p In this course project, you will build a regression model using the deep learning Keras library, and then you will experiment with increasing the number of training epochs and changing number of hidden layers and you will see how changing these parameters impacts the performance of the model.

## Increasing the Number of Training Epochs - 2

In [21]:
import pandas as pd
import numpy as np

In [22]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [23]:
concrete_data.shape

(1030, 9)

In [24]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [25]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [26]:
concrete_data_columns = concrete_data.columns

target = concrete_data["Strength"]
predictors = concrete_data.drop(["Strength", "Age"], axis=1)

In [27]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [28]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [29]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

In [30]:
n_cols = predictors_norm.shape[1]  # number of predictors
n_cols

7

In [31]:
import warnings
warnings.filterwarnings("ignore")
import keras

In [32]:
from keras.models import Sequential
from keras.layers import Dense

In [33]:
# define regression model
def regression_model():
    # 1-Create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # 2-Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [34]:
from sklearn.model_selection import train_test_split

In [35]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [36]:
model = regression_model()

In [37]:
epochs = 120
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/120
23/23 [==============================] - 0s 1ms/step - loss: 656.5568
Epoch 2/120
23/23 [==============================] - 0s 1ms/step - loss: 230.7215
Epoch 3/120
23/23 [==============================] - 0s 1ms/step - loss: 203.2370
Epoch 4/120
23/23 [==============================] - 0s 1ms/step - loss: 185.4575
Epoch 5/120
23/23 [==============================] - 0s 1ms/step - loss: 177.7821
Epoch 6/120
23/23 [==============================] - 0s 1ms/step - loss: 175.7510
Epoch 7/120
23/23 [==============================] - 0s 1ms/step - loss: 165.8702
Epoch 8/120
23/23 [==============================] - 0s 2ms/step - loss: 171.5458
Epoch 9/120
23/23 [==============================] - 0s 1ms/step - loss: 163.8970
Epoch 10/120
23/23 [==============================] - 0s 1ms/step - loss: 162.8696
Epoch 11/120
23/23 [==============================] - 0s 1ms/step - loss: 155.3817
Epoch 12/120
23/23 [==============================] - 0s 1ms/step - loss: 166.2188
Epoch 13/120
23/23 [==============================] - 0s 1ms/step - loss: 173.1380
Epoch 14/120
23/23 [==============================] - 0s 1ms/step - loss: 150.5493
Epoch 15/120
23/23 [==============================] - 0s 1ms/step - loss: 147.4523
Epoch 16/120
23/23 [==============================] - 0s 1ms/step - loss: 157.5551
Epoch 17/120
23/23 [==============================] - 0s 1ms/step - loss: 150.6727
Epoch 18/120
23/23 [==============================] - 0s 1ms/step - loss: 154.5698
Epoch 19/120
23/23 [==============================] - 0s 1ms/step - loss: 145.3773
Epoch 20/120
23/23 [==============================] - 0s 1ms/step - loss: 163.9960
Epoch 21/120
23/23 [==============================] - 0s 1ms/step - loss: 155.7900
Epoch 22/120
23/23 [==============================] - 0s 1ms/step - loss: 148.1224
Epoch 23/120
23/23 [==============================] - 0s 1ms/step - loss: 148.9374
Epoch 24/120
23/23 [==============================] - 0s 1ms/step - loss: 144.1397
Epoch 25/120
23/23 [==============================] - 0s 1ms/step - loss: 153.1003
Epoch 26/120
23/23 [==============================] - 0s 1ms/step - loss: 151.1113
Epoch 27/120
23/23 [==============================] - 0s 1ms/step - loss: 142.7165
Epoch 28/120
23/23 [==============================] - 0s 1ms/step - loss: 142.2791
Epoch 29/120
23/23 [==============================] - 0s 2ms/step - loss: 152.8670
Epoch 30/120
23/23 [==============================] - 0s 1ms/step - loss: 152.8621
Epoch 31/120
23/23 [==============================] - 0s 1ms/step - loss: 148.0698
Epoch 32/120
23/23 [==============================] - 0s 1ms/step - loss: 162.6786
Epoch 33/120
23/23 [==============================] - 0s 1ms/step - loss: 154.8946
Epoch 34/120
23/23 [==============================] - 0s 1ms/step - loss: 154.9953
Epoch 35/120
23/23 [==============================] - 0s 1ms/step - loss: 168.9902
Epoch 36/120
23/23 [==============================] - 0s 1ms/step - loss: 142.2263
Epoch 37/120
23/23 [==============================] - 0s 1ms/step - loss: 143.7240
Epoch 38/120
23/23 [==============================] - 0s 1ms/step - loss: 156.7038
Epoch 39/120
23/23 [==============================] - 0s 2ms/step - loss: 149.6724
Epoch 40/120
23/23 [==============================] - 0s 2ms/step - loss: 151.1697
Epoch 41/120
23/23 [==============================] - 0s 2ms/step - loss: 148.3892
Epoch 42/120
23/23 [==============================] - 0s 1ms/step - loss: 151.7087
Epoch 43/120
23/23 [==============================] - 0s 1ms/step - loss: 171.1788
Epoch 44/120
23/23 [==============================] - ETA: 0s - loss: 192.426 - 0s 1ms/step - loss: 160.5219
Epoch 45/120
23/23 [==============================] - 0s 1ms/step - loss: 142.6230
Epoch 46/120
23/23 [==============================] - 0s 1ms/step - loss: 149.7946
Epoch 47/120
23/23 [==============================] - 0s 1ms/step - loss: 168.0163
Epoch 48/120
23/23 [==============================] - 0s 1ms/step - loss: 146.4634
Epoch 49/120
23/23 [==============================] - 0s 1ms/step - loss: 170.0060
Epoch 50/120
23/23 [==============================] - 0s 1ms/step - loss: 146.4426
Epoch 51/120
23/23 [==============================] - 0s 1ms/step - loss: 139.0866
Epoch 52/120
23/23 [==============================] - 0s 1ms/step - loss: 159.9621
Epoch 53/120
23/23 [==============================] - 0s 2ms/step - loss: 141.4833
Epoch 54/120
23/23 [==============================] - 0s 1ms/step - loss: 160.6826
Epoch 55/120
23/23 [==============================] - 0s 1ms/step - loss: 162.9448
Epoch 56/120
23/23 [==============================] - 0s 1ms/step - loss: 136.3979
Epoch 57/120
23/23 [==============================] - 0s 1ms/step - loss: 135.3745
Epoch 58/120
23/23 [==============================] - 0s 1ms/step - loss: 146.5361
Epoch 59/120
23/23 [==============================] - 0s 1ms/step - loss: 156.9719
Epoch 60/120
23/23 [==============================] - 0s 1ms/step - loss: 139.0321
Epoch 61/120
23/23 [==============================] - 0s 1ms/step - loss: 141.5752
Epoch 62/120
23/23 [==============================] - 0s 1ms/step - loss: 149.4668
Epoch 63/120
23/23 [==============================] - 0s 1ms/step - loss: 162.6713
Epoch 64/120
23/23 [==============================] - 0s 1ms/step - loss: 136.6930
Epoch 65/120
23/23 [==============================] - 0s 1ms/step - loss: 152.4986
Epoch 66/120
23/23 [==============================] - 0s 1ms/step - loss: 148.9883
Epoch 67/120
23/23 [==============================] - 0s 1ms/step - loss: 155.4004
Epoch 68/120
23/23 [==============================] - 0s 1ms/step - loss: 150.6837
Epoch 69/120
23/23 [==============================] - 0s 1ms/step - loss: 145.7095
Epoch 70/120
23/23 [==============================] - 0s 1ms/step - loss: 144.3490
Epoch 71/120
23/23 [==============================] - 0s 1ms/step - loss: 143.4385
Epoch 72/120
23/23 [==============================] - 0s 1ms/step - loss: 132.7423
Epoch 73/120
23/23 [==============================] - 0s 1ms/step - loss: 144.1854
Epoch 74/120
23/23 [==============================] - 0s 1ms/step - loss: 133.1037
Epoch 75/120
23/23 [==============================] - 0s 1ms/step - loss: 136.3264
Epoch 76/120
23/23 [==============================] - 0s 2ms/step - loss: 148.4176
Epoch 77/120
23/23 [==============================] - 0s 2ms/step - loss: 150.4618
Epoch 78/120
23/23 [==============================] - 0s 1ms/step - loss: 145.1157
Epoch 79/120
23/23 [==============================] - 0s 2ms/step - loss: 149.1920
Epoch 80/120
23/23 [==============================] - 0s 2ms/step - loss: 143.6580
Epoch 81/120
23/23 [==============================] - 0s 2ms/step - loss: 139.5624
Epoch 82/120
23/23 [==============================] - 0s 2ms/step - loss: 132.2430
Epoch 83/120
23/23 [==============================] - 0s 2ms/step - loss: 134.1532
Epoch 84/120
23/23 [==============================] - 0s 1ms/step - loss: 163.5058
Epoch 85/120
23/23 [==============================] - 0s 1ms/step - loss: 156.3293
Epoch 86/120
23/23 [==============================] - 0s 1ms/step - loss: 147.4028
Epoch 87/120
23/23 [==============================] - 0s 1ms/step - loss: 137.9804
Epoch 88/120
23/23 [==============================] - 0s 1ms/step - loss: 138.8232
Epoch 89/120
23/23 [==============================] - 0s 1ms/step - loss: 146.6826
Epoch 90/120
23/23 [==============================] - 0s 1ms/step - loss: 139.2478
Epoch 91/120
23/23 [==============================] - 0s 1ms/step - loss: 140.8303
Epoch 92/120
23/23 [==============================] - 0s 1ms/step - loss: 148.2781
Epoch 93/120
23/23 [==============================] - 0s 2ms/step - loss: 163.3066
Epoch 94/120
23/23 [==============================] - 0s 1ms/step - loss: 143.3259
Epoch 95/120
23/23 [==============================] - 0s 1ms/step - loss: 135.8207
Epoch 96/120
23/23 [==============================] - 0s 1ms/step - loss: 131.9255
Epoch 97/120
23/23 [==============================] - 0s 1ms/step - loss: 144.6494
Epoch 98/120
23/23 [==============================] - 0s 1ms/step - loss: 157.7477
Epoch 99/120

23/23 [==============================] - 0s 1ms/step - loss: 140.2031
Epoch 100/120
23/23 [==============================] - 0s 1ms/step - loss: 142.7977
Epoch 101/120
23/23 [==============================] - 0s 1ms/step - loss: 151.0708
Epoch 102/120
23/23 [==============================] - 0s 1ms/step - loss: 157.7865
Epoch 103/120
23/23 [==============================] - 0s 1ms/step - loss: 141.5477
Epoch 104/120
23/23 [==============================] - 0s 1ms/step - loss: 131.5896
Epoch 105/120
23/23 [==============================] - 0s 1ms/step - loss: 143.9551
Epoch 106/120
23/23 [==============================] - 0s 1ms/step - loss: 137.6365
Epoch 107/120
23/23 [==============================] - 0s 1ms/step - loss: 163.9671
Epoch 108/120
23/23 [==============================] - 0s 1ms/step - loss: 168.4381
Epoch 109/120
23/23 [==============================] - 0s 1ms/step - loss: 179.5814
Epoch 110/120
23/23 [==============================] - 0s 1ms/step - loss: 135.0195
Epoch 111/120
23/23 [==============================] - 0s 1ms/step - loss: 151.4709
Epoch 112/120
23/23 [==============================] - 0s 1ms/step - loss: 143.6058
Epoch 113/120
23/23 [==============================] - 0s 1ms/step - loss: 139.8046
Epoch 114/120
23/23 [==============================] - 0s 1ms/step - loss: 142.1625
Epoch 115/120
23/23 [==============================] - 0s 1ms/step - loss: 131.9559
Epoch 116/120
23/23 [==============================] - 0s 2ms/step - loss: 131.8091
Epoch 117/120
23/23 [==============================] - 0s 2ms/step - loss: 133.2809
Epoch 118/120
23/23 [==============================] - 0s 1ms/step - loss: 149.1110
Epoch 119/120
23/23 [==============================] - 0s 1ms/step - loss: 141.1211
Epoch 120/120
23/23 [==============================] - 0s 1ms/step - loss: 137.9079

In [39]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 162.4939

162.493896484375

In [40]:
from sklearn.metrics import mean_squared_error

In [41]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(f"Mean: {mean}\nStandard Deviation: {standard_deviation}")

Mean: 162.49391533142077
Standard Deviation: 0.0