In [22]:
import pandas as pd
import numpy as np

In [23]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [24]:
concrete_data.shape

(1030, 9)

In [25]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [26]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [27]:
concrete_data_columns = concrete_data.columns

target = concrete_data["Strength"]
predictors = concrete_data.drop(["Strength", "Age"], axis=1)

In [28]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5

In [29]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [30]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569

In [31]:
n_cols = predictors_norm.shape[1]  # number of predictors
n_cols

7

In [32]:
import warnings
warnings.filterwarnings("ignore")
import keras

In [33]:
from keras.models import Sequential
from keras.layers import Dense

In [34]:
# define regression model
def regression_model():
    # 1-Create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # 2-Compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=42)

In [37]:
model = regression_model()

In [38]:
epochs = 60
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/60
23/23 [==============================] - 0s 1ms/step - loss: 22556.4395
Epoch 2/60
23/23 [==============================] - 0s 1ms/step - loss: 1524.4764
Epoch 3/60
23/23 [==============================] - 0s 1ms/step - loss: 493.0208
Epoch 4/60
23/23 [==============================] - 0s 1ms/step - loss: 292.6225
Epoch 5/60
23/23 [==============================] - 0s 1ms/step - loss: 244.3170
Epoch 6/60
23/23 [==============================] - 0s 1ms/step - loss: 207.9089
Epoch 7/60
23/23 [==============================] - 0s 1ms/step - loss: 185.8039
Epoch 8/60
23/23 [==============================] - ETA: 0s - loss: 267.017 - 0s 1ms/step - loss: 173.4422
Epoch 9/60
23/23 [==============================] - 0s 1ms/step - loss: 164.8307
Epoch 10/60
23/23 [==============================] - 0s 2ms/step - loss: 159.6957
Epoch 11/60
23/23 [==============================] - 0s 1ms/step - loss: 156.4528
Epoch 12/60
23/23 [==============================] - 0s 1ms/step - loss: 155.4587
Epoch 13/60
23/23 [==============================] - 0s 1ms/step - loss: 153.7753
Epoch 14/60
23/23 [==============================] - 0s 1ms/step - loss: 155.1105
Epoch 15/60
23/23 [==============================] - 0s 1ms/step - loss: 153.2910
Epoch 16/60
23/23 [==============================] - 0s 1ms/step - loss: 150.0480
Epoch 17/60
23/23 [==============================] - 0s 1ms/step - loss: 147.8295
Epoch 18/60
23/23 [==============================] - 0s 2ms/step - loss: 148.8782
Epoch 19/60
23/23 [==============================] - 0s 1ms/step - loss: 149.4984
Epoch 20/60
23/23 [==============================] - 0s 1ms/step - loss: 147.2903
Epoch 21/60
23/23 [==============================] - 0s 1ms/step - loss: 147.0411
Epoch 22/60
23/23 [==============================] - ETA: 0s - loss: 142.950 - 0s 1ms/step - loss: 147.6823
Epoch 23/60
23/23 [==============================] - ETA: 0s - loss: 140.085 - 0s 1ms/step - loss: 147.1591
Epoch 24/60
23/23 [==============================] - 0s 2ms/step - loss: 145.7635
Epoch 25/60
23/23 [==============================] - 0s 1ms/step - loss: 145.7273
Epoch 26/60
23/23 [==============================] - 0s 1ms/step - loss: 144.7208
Epoch 27/60
23/23 [==============================] - 0s 1ms/step - loss: 151.9945
Epoch 28/60
23/23 [==============================] - 0s 1ms/step - loss: 150.9835
Epoch 29/60
23/23 [==============================] - 0s 2ms/step - loss: 149.0143
Epoch 30/60
23/23 [==============================] - 0s 2ms/step - loss: 144.5682
Epoch 31/60
23/23 [==============================] - 0s 2ms/step - loss: 143.8359
Epoch 32/60
23/23 [==============================] - 0s 1ms/step - loss: 152.8389
Epoch 33/60
23/23 [==============================] - 0s 1ms/step - loss: 147.6609
Epoch 34/60
23/23 [==============================] - 0s 1ms/step - loss: 143.8657
Epoch 35/60
23/23 [==============================] - 0s 2ms/step - loss: 145.9510
Epoch 36/60
23/23 [==============================] - 0s 1ms/step - loss: 149.1335
Epoch 37/60
23/23 [==============================] - ETA: 0s - loss: 196.278 - 0s 2ms/step - loss: 150.7610
Epoch 38/60
23/23 [==============================] - 0s 2ms/step - loss: 143.9615
Epoch 39/60
23/23 [==============================] - 0s 2ms/step - loss: 142.1408
Epoch 40/60
23/23 [==============================] - 0s 1ms/step - loss: 142.6485
Epoch 41/60
23/23 [==============================] - 0s 1ms/step - loss: 143.5345
Epoch 42/60
23/23 [==============================] - 0s 1ms/step - loss: 143.6877
Epoch 43/60
23/23 [==============================] - 0s 1ms/step - loss: 142.0845
Epoch 44/60
23/23 [==============================] - 0s 1ms/step - loss: 144.2787
Epoch 45/60
23/23 [==============================] - 0s 1ms/step - loss: 143.5007
Epoch 46/60
23/23 [==============================] - 0s 2ms/step - loss: 156.7567
Epoch 47/60
23/23 [==============================] - 0s 2ms/step - loss: 149.7576
Epoch 48/60
23/23 [==============================] - 0s 2ms/step - loss: 143.7554
Epoch 49/60
23/23 [==============================] - 0s 2ms/step - loss: 143.8029
Epoch 50/60
23/23 [==============================] - 0s 1ms/step - loss: 154.6683
Epoch 51/60
23/23 [==============================] - 0s 1ms/step - loss: 144.3696
Epoch 52/60
23/23 [==============================] - 0s 1ms/step - loss: 157.2989
Epoch 53/60
23/23 [==============================] - 0s 1ms/step - loss: 143.8338
Epoch 54/60
23/23 [==============================] - 0s 1ms/step - loss: 145.8649
Epoch 55/60
23/23 [==============================] - 0s 1ms/step - loss: 144.3900
Epoch 56/60
23/23 [==============================] - 0s 1ms/step - loss: 142.0102
Epoch 57/60
23/23 [==============================] - 0s 1ms/step - loss: 147.6861
Epoch 58/60
23/23 [==============================] - 0s 1ms/step - loss: 144.2248
Epoch 59/60
23/23 [==============================] - 0s 1ms/step - loss: 142.7553
Epoch 60/60
23/23 [==============================] - 0s 1ms/step - loss: 141.5725

In [39]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 161.5707

161.57066345214844

In [40]:
from sklearn.metrics import mean_squared_error

In [41]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(f"Mean: {mean}\nStandard Deviation: {standard_deviation}")

Mean: 161.57069672102713
Standard Deviation: 0.0